<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>Upload photo</h1>
    <form action="">
        <input type="file" value="upload photo of face you wanna find">
        <input type="file" value="upload photos">
        <br><br>
        <input type="submit" value="upload">
    </form>
</body>
</html>
